<!DOCTYPE html>

<html>
    <head>
        <title>Weather Application - About</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/style.css"></link>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="picture">
                <img src="/img/robot.png">
            </div>
            <p>This website was made by Rafael Bellintani (me), to be added to my portfolio, This website works to provide a weather forecast showing the actual description of weather and temperature.
                 I Used the MapBox API to fetch geocode details when a user search for a City or Postal code and uses the geocode data
                 to fetch in Weather Stack API data about forecast in the currently city and display to the user. I used NODE.JS as a javascript runtime,
                 Express to setup a webserver and handlebars as a template engine for express. After that, i added my project in github with the git-scm tool to have a
                 version control and after tests, made deploy to heroku. Sorry for any english mistakes, I'm working on it and i'm always improving! :)</p>
        </div>
       {{>footer}}

    </body>
</html>