body{
    margin: 0 !important;
    padding: 0 !important;
    max-width: 650px !important;
    margin: 0 auto !important;
    padding: 0 16px !important;
    font-family: arial !important;

    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important;
}

.header{
    width: 100%;
    margin-bottom: 16px;
}

.main-content{
    flex-grow: 1;
    text-align: center;
}

.header h1{
    font-size: 64px;
    margin-bottom: 16px;
}

.header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.footer{
    color: #888888;
    padding: 16px 0;
    margin-top: 16px;
    text-align: center;
    width: 100%;
}

.picture img{
    max-width: 250px;
}